<p>create-character works!</p>

<form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="form-group">
        <label for="chName">Character Name</label>
        <input type="text" id="chName" name="chName" class="form-control" ngModel required
        #nameCtrl="ngModel">
        <span class="help-block" *ngIf="nameCtrl.invalid && nameCtrl.touched">Please add a name!</span>
    </div>
    <div class="form-group">
        <label for="side">Choose side</label>
        <select name="side" id="side" class="form-control" ngModel>
            <option 
                *ngFor="let option of availableSides" 
                [value]="option.value">
                {{option.display}}
            </option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Add Character</button>
</form>
