<h3>Sign in</h3>
<form (ngSubmit)="onSubmit()" class="ui form" [formGroup]="authForm">
    <app-input label="Username" inputType="text" [control]="authForm.controls.username"></app-input>

    <app-input label="Password" inputType="password" [control]="authForm.controls.password"></app-input>

    <div *ngIf="authForm.errors" class="ui red basic label">
        <p *ngIf="authForm.errors['invalidCredentialsEntered']">
            Incorrect Username and/or Password. Please try again.
        </p>
        <p *ngIf="authForm.errors['unknownError']">
            Unable to sign in. Please try again later.
        </p>
    </div>
    <div>
        <button class="ui submit button primary" [disabled]="authForm.invalid">Submit</button>
    </div>
</form>