<p>elements-home works!</p>
<app-divider> 
    enter elements placeholder title using ngcontent
</app-divider>
<app-placeholder [header]="true" [lines]="5"></app-placeholder>

<app-divider>Segment component</app-divider>

<app-segment>
    <header>
        <i class="pdf file outline icon"></i>
        No documents are listed for this customer.
    </header>
    
    <div class="ui primary button">Add Document</div>

</app-segment>

<app-segment>
    <header>
        <i class="add icon"></i>
        Add a resource.
    </header>
    
    <div class="ui primary button">Click to Add</div>

</app-segment>