<p>modal works!</p>
<div (click)="closeModal()" class="ui dimmer visible active">
    <div (click)="$event.stopPropagation()" class="ui modal visible active">
        <i (click)="closeModal()" class="close icon"></i>
        <div class="header">
            <ng-content select="[modalTitle]"></ng-content>
        </div>
        <div class="content">
            <ng-content></ng-content>
        </div>
           
        <div class="actions ">
            <ng-content select="[cstmButton]"></ng-content>
        </div>

        <div class="actions actions-default">
            <button (click)="closeModal()" class="ui button">OK</button>
        </div>
        
    </div>
</div>
